.dialog--open .dialog__overlay {
    -webkit-transition-duration: 0.8s;
    transition-duration: 0.8s;
}

.dialog--close .dialog__overlay {
    -webkit-transition-duration: 0.5s;
    transition-duration: 0.5s;
}

.dialog__content {
    padding: 0;
    background: transparent;
}

.dialog.dialog--open .dialog__content {
    opacity: 1;
}

.morph-shape {
    position: absolute;
    width: calc(100% + 13px);
    height: calc(100% + 10px);
    top: -6px;
    left: -8px;
    z-index: -1;
}

.morph-shape svg rect {
    stroke: #f83131;
    stroke-width: 5px;
    stroke-dasharray: 1680;
}

.dialog--open .morph-shape svg rect {
    -webkit-animation: anim-dash 1.7s forwards;
    animation: anim-dash 1.7s forwards;
    -webkit-animation-delay: 1.0s;
    animation-delay: 1.0s;
}

.dialog-inner {
    opacity: 0;
    /*background: #f7ffb0;*/
}

.dialog--open .dialog-inner {
    padding: 2.8em 0.5em 0.5em;
    opacity: 1;
    -webkit-transition: opacity 0.85s 0.35s;
    transition: opacity 0.85s 0.35s;
    border-radius: 5px;
}

.dialog.dialog--open h2 {
    -webkit-animation: anim-elem-1 0.7s ease-out both;
    animation: anim-elem-1 0.7s ease-out both;
}

.dialog.dialog--open button {
    -webkit-animation: anim-elem-2 0.7s ease-out both;
    animation: anim-elem-2 0.7s ease-out both;
}

@keyframes anim-dash {
    0% {
        stroke-dashoffset: 1680;
        fill: #fff;
    }
    100% {
        stroke-dashoffset: 0;
        fill: #0067bf;
    }
}

@-webkit-keyframes anim-dash {
    0% {
        stroke-dashoffset: 1680;
    }
    100% {
        stroke-dashoffset: 0;
    }
}


/* Inner elements animations */

@-webkit-keyframes anim-elem-1 {
    0% {
        opacity: 0;
        -webkit-transform: translate3d(-150px, 0, 0);
    }
    100% {
        opacity: 1;
        -webkit-transform: translate3d(0, 0, 0);
    }
}

@keyframes anim-elem-1 {
    0% {
        opacity: 0;
        -webkit-transform: translate3d(-150px, 0, 0);
        transform: translate3d(-150px, 0, 0);
    }
    100% {
        opacity: 1;
        -webkit-transform: translate3d(0, 0, 0);
        transform: translate3d(0, 0, 0);
    }
}

@-webkit-keyframes anim-elem-2 {
    0% {
        opacity: 0;
        -webkit-transform: translate3d(150px, 0, 0);
    }
    100% {
        opacity: 1;
        -webkit-transform: translate3d(0, 0, 0);
    }
}

@keyframes anim-elem-2 {
    0% {
        opacity: 0;
        -webkit-transform: translate3d(150px, 0, 0);
        transform: translate3d(150px, 0, 0);
    }
    100% {
        opacity: 1;
        -webkit-transform: translate3d(0, 0, 0);
        transform: translate3d(0, 0, 0);
    }
}
